.cell.line {
  outline: 4px solid red;
  background: rgba(255,0,0,0.25);
}


body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
}

#board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: repeat(7, 60px);
  gap: 4px;
  justify-content: center;
  margin: 20px auto;
  
}

.cell {
  width: 60px;
  height: 60px;
  background: #ddd;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.move {
  background: #9aff9a;
}

.stone {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.mor { background: purple; }
.sari { background: gold; }

.stone.blink {
  animation: blink 0.3s infinite alternate;
}

.stone.capture {
  box-shadow: 0 0 15px 5px red;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.3; }
}

#arrowCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.blink {
  animation: blink 0.4s infinite alternate;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0.2; }
}

.capture {
  box-shadow: 0 0 15px gold;
}